{% extends "base.html" %}

{% block content %}
<article>
    <h1>{{ page.title }}</h1>
    
    {% if page.date %}
    <p class="meta">
        Published: {{ page.date }}
        {% if page.author %} by {{ page.author }}{% endif %}
    </p>
    {% endif %}
    
    {% if page.tags %}
    <p class="tags">
        Tags: {% for tag in page.tags %}<span class="tag">{{ tag }}</span>{% if not loop.last %}, {% endif %}{% endfor %}
    </p>
    {% endif %}
    
    <div class="content">
        {{ content | safe }}
    </div>
</article>
{% endblock %}
